:root
{
    --darkest: #2C3333;
    --dark: #395B64;
    --light: #A5C9CA;
    --lightest: #E7F6F2;
}

body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--darkest);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1.25fr 3fr;
}

div
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    /*display: grid;*/
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 1vh;
}